<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon工具导航页</title>
    <link href="css/element-ui.css" rel="stylesheet">
    <style>
        body, html {
            margin: 0;
            padding: 0;
            overflow: hidden;
            width: 100vw;
            height: 100vh;
        }
        .centered {
            position: fixed; /* 使div固定位置 */
            top: 45%; /* 位于视口垂直中央 */
            left: 50%; /* 位于视口水平中央 */
            transform: translate(-50%, -50%); /* 使用transform进行微调，使div大小的一半向上和左方移动 */
            /*width: 50%; !* 设置宽度 *!*/
            padding: 20px; /* 内边距 */
            box-sizing: border-box; /* 防止内边距影响宽度 */
        }
        .el-button {
            width: 200px;
        }
        .el-input {
            text-align: center;
        }
    </style>
</head>
<body>
<div id="app">
    <!--可选菜单居中-->
    <div class="centered">
        <label>所选奖池：{{currentStageCookie}}</label><br/><br/>
        <el-radio-group v-model="currentStageCookie" @change="saveCurrentStage">
            <el-radio v-for="item in sheetNamesCookie" :key="item" :label="item">{{item}}</el-radio>
        </el-radio-group><br/><br/>
        <el-button type="primary" :disabled="isLock" @click="cleanStageSet">重置奖池设置</el-button><br/><br/>
        <label>已中奖列表：</label><br/><br/>
        <label>{{winners}}</label><br/><br/>
        <el-input type="text" v-show="!isLock" v-model="winnerText" style="width: 60px"></el-input>
        <el-button type="primary" v-show="!isLock" @click="pushWinnerHandler" style="width: 135px">添加已中奖号码</el-button><br v-show="!isLock" /><br v-show="!isLock"/>
<!--        <el-button type="primary" @click="getWinners">获取已中奖列表</el-button><br/><br/>-->
        <el-button type="primary" :disabled="isLock" @click="cleanWinners">清空已中奖列表</el-button><br/><br/>
        <el-button type="primary" @click="lockHandler">{{isLock?'打开设置':'锁定设置'}}</el-button>
    </div>
</div>
<script src="js/vue.min.2.6.14.js"></script>
<script src="js/element-ui.js"></script>

<script>
    // 创建一个Vue实例
    new Vue({
        el: '#app',
        data() {
            return {
                winnerText: '',
                winners: [],
                isLock: true,
                sheetNamesCookie: [],
                currentStage: '',
                currentStageCookie: '',
                winnerSetNum: '', // 奖池列表设置
                winnerSetNumCookie: '' // 奖池列表设置
            }
        },
        mounted() {
            const self = this
            setInterval(() => {
                self.getWinners()
                self.getCurrentStage()
            }, 3000)
        },
        methods: {
            lockHandler() {
                this.isLock = !this.isLock
            },
            cleanStageSet () {
                this.deleteCookieArray('currentStage')
                this.deleteCookieArray('sheetNames')
                this.getCurrentStage()
            },
            saveCurrentStage() {
                this.setCookieArray('currentStage', [this.currentStageCookie])
                this.currentStageCookie = ''
                this.currentStageCookie = this.getCookieArray('currentStage')[0]
                console.log( '操作成功，选择页为：' + this.currentStageCookie)
                this.$message({message: '操作成功，选择页为：' + this.currentStageCookie,type: 'success'})
            },
            getCurrentStage() {
                this.currentStageCookie = this.getCookieArray('currentStage')[0]
                this.sheetNamesCookie = this.getCookieArray('sheetNames')
            },
            pushWinnerHandler() {
                this.pushWinner(this.winnerText)
                this.winnerText = ''
            },
            pushWinner(winner) {
                if (!winner || winner.trim() === '') {
                    this.$message({message: '请输入号码',type: 'success'})
                    return
                }
                let winners = this.getCookieArray('winners')
                if (winners.includes(winner)) {
                    this.$message({message: '已存在该中奖号码',type: 'success'})
                    return
                }
                winners.push(winner)
                this.setCookieArray('winners', winners)
                this.getWinners()
                this.$message({message: '操作成功',type: 'success'})
            },
            // 清空已中奖列表
            cleanWinners() {
                this.deleteCookieArray('winners')
                this.getWinners()
                this.$message({message: '操作成功',type: 'success'})
            },
            // 获取已中奖列表
            getWinners() {
                let winners = this.getCookieArray('winners') // 从cookie读取数组
                console.log(winners) // 输出: [1, 2, 3, 4]
                this.winners = winners
                return winners
            },
            // 设置cookie
            setCookieArray(name, value, daysToLive = 1) {
                document.cookie = name + '=' + encodeURIComponent(JSON.stringify(value)) + '; max-age=' + (daysToLive * 24 * 60 * 60) + '; path=/'
            },
            // 获取cookie
            getCookieArray(name) {
                let cookieValue = document.cookie.split(';').map(function(item) {
                    return item.trim();
                }).filter(function(item) {
                    return item.startsWith(name + '=');
                }).map(function(item) {
                    return decodeURIComponent(item.substring((name + '=').length));
                });
                return cookieValue.length ? JSON.parse(cookieValue[0]) : []
            },
            // 删除cookie
            deleteCookieArray(name) {
                document.cookie = name + '=; max-age=0; path=/'
            }
        }
    })
</script>
</body>
</html>
