<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon工具导航页</title>
    <!-- 添加favicon图标 -->
    <link rel="icon" href="img/toolkit.svg" type="image/x-icon">
    <link rel="shortcut icon" href="img/toolkit.svg" type="image/x-icon">
    <link href="css/element-ui.css" rel="stylesheet">
    <style>
        body, html {
            margin: 0;
            padding: 0;
            overflow: hidden;
            width: 100vw;
            height: 100vh;
        }
        iframe {
            border: none;
            width: 100vw;  /* 视口宽度 */
            height: 100vh; /* 视口高度 */
            position: fixed;
            top: 0;
            left: 0;
        }
        .centered {
            position: fixed; /* 使div固定位置 */
            top: 45%; /* 位于视口垂直中央 */
            left: 50%; /* 位于视口水平中央 */
            transform: translate(-50%, -50%); /* 使用transform进行微调，使div大小的一半向上和左方移动 */
            /*width: 50%; !* 设置宽度 *!*/
            padding: 20px; /* 内边距 */
            box-sizing: border-box; /* 防止内边距影响宽度 */
        }
        .backButton {
            position: absolute;
            left: 10px;
            top: 10px;
            z-index: 9;
            opacity: 0.5;
        }
    </style>
</head>
<body>
<div id="app">
    <!--可选菜单居中-->
    <div v-show="!iframe.show" class="centered">
        <el-tooltip v-model="showTip.tip1" placement="right" effect="light">
            <label slot="content">亚马逊常用尺寸/重量/汇率换算、美国FBA配送费计算、售价和毛利计算器、多站点产品定价等</label>
            <el-button type="primary" style="width: 200px" @click="handleTools('unitConvert')">👍&nbsp;&nbsp;单位换算/利润计算</el-button>
        </el-tooltip><br/><br/>
        <el-tooltip v-model="showTip.tip2" placement="right" effect="light">
            <label slot="content">亚马逊表格上架多站点的辅助工具，将表格已填写的数据根据其他表格不同表头顺序进行排序，减少重复性工作量</label>
            <el-button type="primary" style="width: 200px" @click="handleTools('copySiteExcel')">🚀&nbsp;&nbsp;Amazon表格上架辅助</el-button>
        </el-tooltip><br/><br/>
        <el-tooltip v-model="showTip.tip3" placement="right" effect="light">
            <label slot="content">亚马逊站点信息，包含各站点所用的币种、汇率、语言、前后台网址、邮编、是否支持FBA、是否支持FBM购买配送服务等信息</label>
            <el-button type="primary" style="width: 200px" @click="handleTools('siteInfo')">📄&nbsp;&nbsp;Amazon站点邮编</el-button>
        </el-tooltip><br/><br/>
        <el-tooltip v-model="showTip.tip4" placement="right" effect="light">
            <div slot="content">
                <label>好东西，亚马逊工具集、跨境资讯网站，有空可以逛逛</label><br/>
                <label>网址：https://www.amz123.com</label>
            </div>
            <el-button type="primary" style="width: 200px" @click="handleTools('amazon123')">AMZ123跨境卖家导航</el-button>
        </el-tooltip><br/><br/>
        <el-tooltip v-model="showTip.tip5" placement="right" effect="light">
            <div slot="content">
                <label>海关编码查询,HSCode在填货代发票时使用</label><br/>
                <label>网址：https://www.hsbianma.com</label>
            </div>
            <el-button type="primary" style="width: 200px" @click="handleTools('hsCode')">海关编码查询</el-button>
        </el-tooltip><br/><br/>
        <el-tooltip v-model="showTip.tip6" placement="right" effect="light">
            <div slot="content">
                <label>使用PDF编辑器时，单文件要求5M以下，超过5M的可拆分后再编辑，或者动用钞能力解除此限制</label><br/>
                <label>PDF工具集合，可编辑PDF、合并、拆分、转格式等</label>
                <label>网址：https://onlinepdfedit.com/zh-cn/</label><br/>
                <label>快捷添加Made In China点这里：</label>
                <el-tooltip placement="top" effect="dark">
                    <label slot="content">快捷给标签添加Made In China文字，网址：http://amztool.moyuren.cn</label>
                    <a href="javascript:;" @click="handleOpenPDFWeb">PDF添加Made In China</a>
                </el-tooltip>
            </div>
            <el-button type="primary" style="width: 200px" @click="handleTools('pdfEditor')">PDF在线编辑器</el-button>
        </el-tooltip><br/><br/>
        <el-tooltip v-model="showTip.tip7" placement="right" effect="light">
            <div slot="content">
                <label style="font-size: 14px;color: #5b5b5b">好看的烟花，效果逼真，可以点击屏幕放烟花，通过右上角设置调整烟花选项</label><br/>
                <label style="font-size: 14px;color: #5b5b5b">网址：https://linwenli95.github.io/onlineTools/tools/Fireworks/</label>
            </div>
            <el-button type="primary" style="width: 200px" @click="handleTools('fireFlower')">一起看烟花吧</el-button>
        </el-tooltip>
    </div>
    <div v-if="iframe.show" >
        <el-button type="primary" class="backButton" @click="handleBack">返回</el-button>
        <iframe :src="iframe.src">
            <p>您的浏览器不支持iframe标签。</p>
        </iframe>
    </div>
</div>
<!--<script color="0,0,0" opacity="0.8" count="200" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.js" type="text/javascript" charset="utf-8"></script>-->
<script src="js/vue.min.2.6.14.js"></script>
<script src="js/element-ui.js"></script>
<script>
    // 创建一个Vue实例
    new Vue({
        el: '#app',
        data() {
            return {
                showTip: {
                    tip1: false,
                    tip2: false,
                    tip3: false,
                    tip4: false,
                    tip5: false,
                    tip6: false,
                    tip7: false,
                },
                iframe: {
                    show: false,
                    src: ''
                },
                toolsSrc: {
                    amazon123: 'https://www.amz123.com',
                    hsCode: 'https://www.hsbianma.com',// 海关编码查询
                    copySiteExcel: 'https://linwenli95.github.io/onlineTools/tools/ExcelUtil/index.html',// 站点上架表格复制
                    unitConvert: 'https://linwenli95.github.io/onlineTools/tools/UnitConvert/index.html',// 单位转换工具
                    siteInfo: 'https://linwenli95.github.io/onlineTools/tools/Notes/index.html',// 各站点记录
                    fireFlower: 'https://linwenli95.github.io/onlineTools/tools/Fireworks/index.html',
                    pdfWeb: 'http://amztool.moyuren.cn/index',// pdf快捷添加Made in China
                    pdfEditor: 'https://onlinepdfedit.com/zh-cn/edit-pdf.html'// pdf编辑器
                }
            }
        },
        mounted() {
            this.showTip.tip1 = true
            this.showTip.tip2 = true
            this.showTip.tip3 = true
            this.showTip.tip4 = true
            this.showTip.tip5 = true
            this.showTip.tip6 = true
            this.showTip.tip7 = true
            setTimeout(() => {
                this.showTip.tip1 = false
                this.showTip.tip2 = false
                this.showTip.tip3 = false
                this.showTip.tip4 = false
                this.showTip.tip5 = false
                this.showTip.tip6 = false
                this.showTip.tip7 = false
            }, 3000)
        },
        methods: {
            handleTools(value) {
                this.iframe.show = !this.iframe.show
                if (this.iframe.show) {
                    this.iframe.src = this.toolsSrc[value]
                }
            },
            handleOpenPDFWeb() {
                window.open(this.toolsSrc.pdfWeb);
            },
            handleBack() {
                this.iframe.show = !this.iframe.show
            }
        }
    })
</script>
</body>
</html>
